.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background: white;
  padding: 10px;
  border: 1px solid aqua;
}

.container .bloco {
  width: 90%;
  height: 90%;
  /* background: yellow; */
  position: relative;
  transition: 0.2s linear;
}

.container .bloco .botao{
  transition: 0.2s linear;
}


.container .bloco:hover {
  margin-left: 0;
  margin-top: 0;
  height: 200px;
  width: 400px;
}


img {
  width: 100%;
  height: 100%;
}