
.caixa1 {
  width: 300px;
  height: 300px;
  border: 1px solid aqua;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa2{
  width: 280px;
  height: 100px;
  color: white;
  border: 1px solid red;  

}

p {
  text-align: right;
}