* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid white; */
  padding: 20px;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header li {
  list-style: none;
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  /* border: 2px solid red; */
}

header div a {
  color: white;
  text-decoration: none;
  padding: 20px;
  /* border: 2px solid red; */
}

header a:hover {
  border-bottom: 2px solid white;
}

header a:focus {
  border-bottom: 2px solid white;
}

/* primeira section */

.home {
  border: inherit 10px 10px black;
  background-image: url(imagens/los-santos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
  height: 600px;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
}

.home-box {
  margin: 10px;
  margin-left: 60px;
  margin-top: 30px;
}

.home-textos h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin: 10px;
  padding: 10px;
}

.home-textos p {
  font-size: 1.3rem;
  color: white;
  margin: 10px;
  padding: 10px;
}

.home-links {
  /* border: 1px solid aqua; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 10px 10px 15px;
  text-align: center;
  width: 600px;
}

.home-links a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 25px 10px 25px 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;
}

.home-links a:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

.home-links a:focus {
  border-bottom: 2px solid white;
}

/* segunda section */

.img-grove {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* border: 1px solid red; */

}

.img-grove-box {
  padding-top: 100px;
  /* border: 1px solid aqua; */
} 

/* terceira section */

.intro {
  display: grid;
  justify-content: center;
  height: 100vh;
  margin-top: 20px;
}

.intro-box {
  width: 600px;
}

.intro-textos {
  color: white;
}

.intro-textos h2 {
  font-size: 2.5rem;
  margin: 10px;
}

.intro-textos p {
  font-size: 1.3rem;
  line-height: 30px;
  margin: 10px;
}

.img-personagem {
  display: grid;
  justify-items: center;
}

/* quarta section */

.samp {
  display: grid;
  justify-content: center;
  height: 100vh;
  margin-top: 160px;
}

.samp-box {
  width: 600px;
}

.samp-textos {
  color: white;
}

.samp-textos h2 {
  font-size: 2.5rem;
  margin: 10px;
}

.samp-textos p {
  font-size: 1.3rem;
  line-height: 30px;
  margin: 10px;
}

.img-online {

}

.img-online-box {
  
}
